<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QLSX" connectionString="Data Source=SANYO_SERVER;Initial Catalog=QUAN_LY_SAN_XUAT;Persist Security Info=True;User ID=QuanLySanXuat;Password=123456;Connect Timeout=30;TransparentNetworkIPResolution=false"
      providerName="System.Data.SqlClient" />
    <add name="Chuong_Trinh_Quan_Ly_San_Xuat.Properties.Settings.QLSX"
      connectionString="Data Source=MRDBA;Initial Catalog=QUAN_LY_SAN_XUAT;Persist Security Info=True;User ID=QuanLySanXuat;Password=123456;Connect Timeout=30;TransparentNetworkIPResolution=false"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>